<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>

</p>
<p>
  <a href="patrickarsh.io">Built in Manhattan by Patrick Karsh Design + Development</a>
</p>
